h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  font-size: 100px;
  font-family: "Monsterrat", sans-serif;
}
.form_wrapper {
  padding-top: 50px;
}
app-table {
  margin-top: 30px;
}
