<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Investment Value</th>
      <th>Interest (Year)</th>
      <th>Total Interest</th>
      <th>Invested Capital</th>
    </tr>
  </thead>
  <tbody>
    @for(row of annualData; track $index){
    <tr>
      <td>{{ row.year }}</td>
      <td>{{ row.valueEndOfYear | currency : "USD" : "symbol" : "1.2-2" }}</td>
      <td>{{ row.interest | currency : "USD" : "symbol" : "1.2-2" }}</td>
      <td>{{ row.totalInterest | currency : "USD" : "symbol" : "1.2-2" }}</td>
      <td>
        {{ row.totalAmountInvested | currency : "USD" : "symbol" : "1.2-2" }}
      </td>
    </tr>

    }
  </tbody>
</table>
